<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ry.Dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.ry.Entity.User" >
    <id column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="user_realName" property="userRealname" jdbcType="VARCHAR" />
    <result column="user_pass" property="userPass" jdbcType="VARCHAR" />
    <result column="user_sex" property="userSex" jdbcType="INTEGER" />
    <result column="user_create" property="userCreate" jdbcType="VARCHAR" />
    <result column="user_lastTime" property="userLasttime" jdbcType="VARCHAR" />
    <result column="user_email" property="userEmail" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    user_id, user_name, user_realName, user_pass, user_sex, user_create, user_lastTime, 
    user_email
  </sql>
  
  <select id="selectByPage" resultMap="BaseResultMap" parameterType="java.lang.String">
  	select
  	<include refid="Base_Column_List" />
  	from user limit #{point},#{pageSize}
  </select>
  
  <select id="selectByUserName" resultMap="BaseResultMap" parameterType="java.lang.String"  >
  	select 
    <include refid="Base_Column_List" />
    from user
    where user_name = #{userName,jdbcType=VARCHAR}
  </select>
  
  <select id="selectAll" resultMap="BaseResultMap"  >
    select 
    <include refid="Base_Column_List" />
    from user
  </select>
  
  <select id="selectCount" resultType="java.lang.Long">
  	select count(*) from user
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ry.Entity.User" >
    insert into user (user_id, user_name, user_realName, 
      user_pass, user_sex, user_create, 
      user_lastTime, user_email)
    values (#{userId,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{userRealname,jdbcType=VARCHAR}, 
      #{userPass,jdbcType=VARCHAR}, #{userSex,jdbcType=INTEGER}, #{userCreate,jdbcType=DATE}, 
      #{userLasttime,jdbcType=DATE}, #{userEmail,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ry.Entity.User" >
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="userRealname != null" >
        user_realName,
      </if>
      <if test="userPass != null" >
        user_pass,
      </if>
      <if test="userSex != null" >
        user_sex,
      </if>
      <if test="userCreate != null" >
        user_create,
      </if>
      <if test="userLasttime != null" >
        user_lastTime,
      </if>
      <if test="userEmail != null" >
        user_email,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userRealname != null" >
        #{userRealname,jdbcType=VARCHAR},
      </if>
      <if test="userPass != null" >
        #{userPass,jdbcType=VARCHAR},
      </if>
      <if test="userSex != null" >
        #{userSex,jdbcType=INTEGER},
      </if>
      <if test="userCreate != null" >
        #{userCreate,jdbcType=DATE},
      </if>
      <if test="userLasttime != null" >
        #{userLasttime,jdbcType=DATE},
      </if>
      <if test="userEmail != null" >
        #{userEmail,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ry.Entity.User" >
    update user
    <set >
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userRealname != null" >
        user_realName = #{userRealname,jdbcType=VARCHAR},
      </if>
      <if test="userPass != null" >
        user_pass = #{userPass,jdbcType=VARCHAR},
      </if>
      <if test="userSex != null" >
        user_sex = #{userSex,jdbcType=INTEGER},
      </if>
      <if test="userCreate != null" >
        user_create = #{userCreate,jdbcType=DATE},
      </if>
      <if test="userLasttime != null" >
        user_lastTime = #{userLasttime,jdbcType=DATE},
      </if>
      <if test="userEmail != null" >
        user_email = #{userEmail,jdbcType=VARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ry.Entity.User" >
    update user
    set user_name = #{userName,jdbcType=VARCHAR},
      user_realName = #{userRealname,jdbcType=VARCHAR},
      user_pass = #{userPass,jdbcType=VARCHAR},
      user_sex = #{userSex,jdbcType=INTEGER},
      user_create = #{userCreate,jdbcType=DATE},
      user_lastTime = #{userLasttime,jdbcType=DATE},
      user_email = #{userEmail,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
</mapper>